@media (min-width: 950px) {
    .header_content_box {
        padding-top: 125px;
    }
    .header_menu {
        width: 100%;
    }
    .menu_list {
        display: flex;
        gap: 40px;
    }
    .menu_sub_list {
        transform: translate(0, -10%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease 0s;
    }
    .menu_icon {
        display: none;
    }
    .menu_sub_list {
        top: 73%;
        background-color: #FFFFFF;
        position: absolute;
    }
    .swiper-pagination-bullet {
        width: 194px;
        background: #000000;
    }
    .thing_btn {
        padding: 16px 33px 17px 32px;
    }
}
@media (max-width: 1440px) {
    .shop_box_img {
        flex-direction: column;
        align-items: center;
    }
    .see_item_1,
    .see_item_2 {
        margin-bottom: 50px;
    }
}
@media (max-width: 1365px) {
    .see_box_items {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1325px) {
    .ideas_box_content {
        flex-direction: column;
        align-items: center;
    }
    .ideas_box_content img {
        margin-bottom: 25px;
    }
}
@media (max-width: 1280px) {
    .footer_menu_list {
        flex-direction: column;
    }
    .footer_logo_box {
        margin-right: 100px;
    }
    .footer_menu_box_list {
        position: relative;
    }
    .footer_menu_list li {
        margin-bottom: 20px;
    }
    .footer_menu_list li:last-child {
        margin-bottom: 0;
    }
    .footer_menu_sub_list {
        transform: translate(0, -10%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease 0s;
        position: absolute;
        left: 170px;
        top: -33px;
        padding: 15px;
        min-width: 200px;
    }
    .footer_menu_sub_list li {
        margin: 0 0 10px 0;
    }
    .footer_menu_sub-link:hover {
        text-decoration: underline;
    }
    .footer_menu_link {
        max-width: 200px;
    }
    body._touch .menu_list >li,
    body._touch .footer_menu_list >li {
        display: flex;
        align-items: center;
    }
    body._touch .menu_link {
        flex: 1 1 auto;
    }
    body._touch .menu_arrow {
        display: block;
        width: 0;
        height: 0;
        margin: 0 0 0 7px;
        transition: transform 0.3s ease 0s;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid black;
    }
    body._touch .menu_list > li._active .menu_sub_list,
    body._touch .footer_menu_list > li._active .footer_menu_sub_list {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        pointer-events: all;
    }
    body._touch .menu_list > li._active .menu_arrow,
    body._touch .footer_menu_list > li._active .footer_menu_arrow {
        transform: rotate(-180deg);
    }
}
@media (max-width: 1248px) {
    #slider_txt,
    #slider_txt_2,
    #slider_txt_3 {
        margin: 65px 0 0 40px;
        position: relative;
        z-index: 5;
    }
    #slider_txt h2,
    #slider_txt_2 h2,
    #slider_txt_3 h2 {
        font-size: 31px;
        line-height: 42px;
    }
    #slider_txt p,
    #slider_txt_2 p,
    #slider_txt_3 p {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 23px;
    }
    #slider_txt button,
    #slider_txt_2 button,
    #slider_txt_3 button {
        padding: 10px 48px;
        font-size: 18px;
        margin-bottom: 40px;
    }
    #slider_flex img,
    #slider_flex_2 img,
    #slider_flex_3 img {
        position: absolute;
        right: 0;
        z-index: 2;
    }
}
@media (max-width: 950px) {
    .header_content_box {
        padding-top: 85px;
    }
    .menu_icon {
        display: block;
        z-index: 5;
        position: relative;
        width: 25px;
        height: 15px;
        cursor: pointer;
    }
    .menu_icon span,
    .menu_icon::before,
    .menu_icon::after {
        left: 0;
        position: absolute;
        z-index: 6;
        height: 15%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: black;
    }
    .menu_icon::before,
    .menu_icon::after {
        content: "";
    }
    .menu_icon::before {
        top: 0;
    }
    .menu_icon::after {
        bottom: 0;
    }
    .menu_icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu_icon._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .menu_icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);

    }
    .menu_icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);

    }
    .menu_box_list {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background: #F8F9FA;
        padding: 66px 30px 30px 26px;
        transition: right 0.3s ease 0s;
        overflow: auto;
    }
    .menu_box_list._active {
        right: 0;
    }
    .menu_list li {
        margin: 0 0 68px 0;
        flex-wrap: wrap;
    }
    .menu_list li._active .menu_sub_list {
        display: block;
    }
    .menu_list li:last-child {
        margin-bottom: 0;
    }
    .menu_link {
        font-size: 34px;
    }
    .menu_sub_list {
        position: relative;
        flex: 1 1 100%;
        background: white;
        display: none;
        margin-top: 30px;
    }
    .menu_sub_list li {
        margin: 0 0 10px 0;
    }
    .menu_sub-link {
        font-size: 26px;
    }
    .swiper-pagination-bullet {
        width: 50px;
        background: black;
    }
    .thing_btn {
        padding: 5px 33px 5px 32px;
    }
}
@media (max-width: 900px) {
    #swiper {
        max-height: 400px;
    }
    #slider_flex img {
        right: -75px;
    }
}
@media (max-width: 767px) {
    #swiper {
        max-height: 300px;
    }
    #slider_txt,
    #slider_txt_2,
    #slider_txt_3 {
         margin: 50px  0  0 40px;
     }
    #slider_txt h2,
    #slider_txt_2 h2,
    #slider_txt_3 h2 {
        font-size: 20px;
        line-height: 30px;
    }
    #slider_txt p,
    #slider_txt_2 p,
    #slider_txt_3 p {
        margin-bottom: 5px;
        font-size: 9px;
        line-height: 15px;
    }
    #slider_txt button,
    #slider_txt_2 button,
    #slider_txt_3 button {
        padding: 1px 25px;
        font-size: 10px;
        margin-bottom: 20px;
    }

}
@media (max-width: 640px) {
    .save_box_items {
        flex-direction: column;
        align-items: center;
    }
    .footer_content_box {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    #swiper {
        max-height: 200px;
    }
    #slider_txt,
    #slider_txt_2,
    #slider_txt_3 {
        margin: 10px 15px 0 0;
        text-align: right;
    }
    .search_input {
        max-width: 50px;
    }
}
